body {
  margin: 0%;
  background-color: #E9EFF7;
  color: #2aa198;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.leftColumn {
  display: inline-block;
  width: 20%;
  height: 100vh;
  overflow: scroll;
  background-color: #073642;
}

.rightColumn {
  display: inline-block;
  width: 80%;
  height: 100vh;
  overflow: scroll;
}

.userName {
  padding-top: 25px;
  margin: 0%;
  padding-left: 15px;
  padding-bottom: 25px;
}

.sourceItem {
  width: 100%;
  background-color: #859900;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  color: #d33682;
}

a {
  color: #2C6975;
  text-decoration: none;
}

.feed {
  background-color: #fdf6e3;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 25px;
}

.feedElement {
  border: 1px solid #eee8d5;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.feedElement:hover {
  background-color: #d33682bb;
}

.title {
  float: left;
  font-size: 18px;
}

.pubDate {
  float: right;
  font-size: 11px;
  color: #cb4b16;
}

.description {
  font-size: 14px;
  display: block;
  padding-top: 7px;
}