body {
  margin: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.leftColumn {
  display: inline-block;
  width: 20%;
  height: 100vh;
  overflow: scroll;
  background-color: #E2F0F9;
  overflow-y: hidden;
  overflow-x: hidden;
}

.rightColumn {
  display: inline-block;
  width: 80%;
  height: 100vh;
  overflow: scroll;
  background-color: #ffffff;
  overflow-x: hidden;
}

.userName {
  padding-top: 25px;
  margin: 0%;
  padding-left: 15px;
  padding-bottom: 25px;
  color: #286FB4;
}

.sourceItem {
  width: 100%;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px;
  color: #DF4C73;
}

.sourceItem:hover {
  cursor: pointer;
}

.addSource {
  position: absolute;
  bottom: 150px;
  padding-left: 10px;
}

.addButton {
  border: 1px solid  #286FB4;
  border-radius: 5px;
  background-color: #B0DDE4;
  font-size: 14px;
  color: #DF4C73;
}

.addButton:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.inputSource {
  margin-top: 10px;
  border: 1px solid  #286FB4;
  border-radius: 5px;
  font-size: 16px;
  color: #286FB4;
}

a {
  color: #286FB4;
  text-decoration: none;
}

.feed {
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 25px;
}

.feedElement {
  border-bottom: 1px solid #DF4C73;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.feedElement:hover {
  background-color: #B0DDE4bb;
}

.title {
  float: left;
  font-size: 18px;
}

.pubDate {
  float: right;
  font-size: 11px;
  color: #286FB4;
}

.description {
  font-size: 14px;
  display: block;
  padding-top: 7px;
  color: #286FB4;
}

.loginPage {
  margin-top: 200px;
  margin: auto;
  width: 60%;
}

.forms {
  margin-top: 30%;
  float: left;
  width: 45%;
  height: 300px;
  margin-right: 0.5px;
  border: 1.5px solid #286FB4;
  border-radius: 5px;
  padding: 10px;
  vertical-align: top;
}

h4 {
  text-align: center;
  color: #DF4C73;
}

label {
  font-size: 16px;
  color: #286FB4;
}

input {
  margin-top: 4px;
  border-radius: 5px;
  border: 0.5px solid #B0DDE4;
  font-size: 16px;
  width: 100%;
  color: #286FB4;
}

.loginButton {
  color: #DF4C73;
  border: 1px solid #286FB4;
  border-radius: 5px;
  position: relative;
  font-size: 12px;
  bottom: -25px;
  left: 45%;
}